<?xml version="1.0" encoding="UTF-8"?>

<included>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <if condition='isDefined("LOGSTASH_DESTINATION")'>
        <then>
            <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
                <destination>${LOGSTASH_DESTINATION}</destination>
                <!-- encoder is required -->
                <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
            </appender>

            <!-- send trace event logs to LOGSTASH but not to CONSOLE by default -->
            <logger name="org.opentestsystem.delivery.logging" level="trace" additivity="false">
                <appender-ref ref="LOGSTASH"/>
            </logger>
        </then>
    </if>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>

        <if condition='isDefined("LOGSTASH_DESTINATION")'>
            <then>
                <appender-ref ref="LOGSTASH"/>
            </then>
        </if>
    </root>
</included>